<div class="edit-title">
  Enter your code below.
  {{#if step.content.tests_archive}}
    <span class="right">
      <a title="Download an archive with the latest generated tests"
         href="{{step.content.tests_archive}}"
         data-outward=true>Download tests</a>
    </span>
  {{/if}}
</div>
<div class="edit-text">
{{view App.CodeEditorView
    valueBinding='source.code'
    lang='python'
    placeholder="Type your code here..."}}

{{web-console code=source.code}}
</div>
<div class="options">
    <label class="option">
      <span title="For each (single) test case" class="edit-tooltip">Time Limit (sec):</span>
      {{input type="number" name="execution_time_limit" value=source.execution_time_limit}}
    </label>
    <label class="option">
      <span title="For each (single) test case" class="edit-tooltip">Memory Limit (MB):</span>
      {{input type="number" name="execution_memory_limit" value=source.execution_memory_limit}}
    </label>
    <label class="option">
      <span title="Number of sample tests shown on step" class="edit-tooltip">Number of sample tests:</span>
      {{input type="number" name="samples_count" value=source.samples_count}}
    </label>
</div>
<div class="edit-title">
  Templates and restrictions for programming languages. Leave empty for defaults.<br>
  See <a href="/lesson/-9173/step/4">How to Implement Programming Assignments</a> for docs.
</div>
<div class="edit-text">
  {{view App.CodeEditorView
    valueBinding='source.templates_data'
    lang='python'
    placeholder=""}}
</div>
<hr>
<div class="right">See <a href="/lesson/9173">Documentation: Code</a> for docs and examples.</div>
