{{#if is_multiple_langs}}
  {{#unless disabled}}
    <div class="clearfix">
      <label class="code-quiz__lang-select">
        <b>Programming language:</b>

        <label class="s-select">
          <select class="s-select__select lang-selector" {{action 'setLang' on='change'}}>
            {{#each lang in langs}}
              <option value="{{unbound lang}}">{{lang}}</option>
            {{/each}}
          </select>
        </label>
      </label>
    </div>
  {{/unless}}
{{/if}}

{{#if user_lang}}
  {{view App.CodeEditorView
      value=user_code
      required='true'
      lang=user_lang
      placeholder="Type your code here..."
      disabled=disabled}}
  {{#unless disabled}}
    <label class="code-quiz__load" title="Choose file to upload as a solution">
      {{input type="file" class="code-quiz__load-input"
        value=file_value}}
      <span class="button secondary">Upload file</span>
    </label>
  {{/unless}}
{{/if}}