{{#if is_multiple_langs}}
  {{#unless disabled}}
    <label>
      <b>Programming language:</b>

      <label class="s-select">
        <select class="s-select__select lang-selector" {{action 'setLang' on='change'}}>
          {{#each lang in langs}}
            <option value="{{unbound lang}}">{{lang}}</option>
          {{/each}}
        </select>
      </label>
    </label>
  {{/unless}}
{{/if}}

{{#if user_lang}}
  {{#unless disabled}}
    <label>
      {{input type="file" class="code-quiz__load"
        value=file_value}}
      <span class="button">Load file</span>
    </label>
  {{/unless}}
  {{view App.CodeEditorView
      value=user_code
      required='true'
      lang=user_lang
      placeholder="Type your code here..."
      disabled=disabled}}
{{/if}}