<div class="edit-title">Please specify items. Users will need to put them in pairs as below:</div>
<div class="edit-text">
  <div class="matching-pairs">
    {{#each pair in source.pairs}}
      <div class="matching-pair">
        <span class="drag-area" draggable="true"></span><!--
        -->{{input type="text" value=pair.first class="first"}}
        {{input type="text" value=pair.second class="second"}}<!--
        --><span class="remove" {{action "removePair" pair}}></span>
      </div>
    {{/each}}
  </div>
  <div class="add-pair" {{action "addPair"}}></div>
</div>
<div class="options">
  <label class="option">
    {{input type="checkbox" name="preserve_firsts_order" checked=source.preserve_firsts_order}}
    <span title="Preserve options order as above" class="edit-tooltip">Do not randomize order of the first column (second column is always shuffled)</span>
  </label>
</div>
<hr>
<div class="right">See <a href="/lesson/9175">Documentation: Matching</a> for docs and examples.</div>
