<ol class="matching-quiz__second-items">
  {{#each row in options}}
    <li draggable="true" class="matching-quiz__second-item">
      <div class="matching-quiz__second-item_number">{{row.index}}</div>
      <span class="matching-quiz__second-item_text">{{row.second}}</span>
      <span class="matching-quiz__arrow-up" {{action 'moveIt' row -1}}>&uarr;&uarr;&uarr;</span>
      <span class="matching-quiz__arrow-down" {{action 'moveIt' row 1}}>&darr;&darr;&darr;</span>
    </li>
  {{/each}}
</ol>

<ol class="matching-quiz__first-items">
  {{#each pair in dataset.pairs}}
    <li class="matching-quiz__first-item">
      <span>{{pair.first}}</span>
    </li>
  {{/each}}
</ol>
