{{#sortable-list list=options disabled=disabled as |item index sortable_context|}}
  <div class="sortable-item__inner-box">
    {{#unless disabled}}
      {{svg-icon name='dragndrop'}}
      <span class="sortable-item__arrow-down" {{action 'moveItem' index 1 target=sortable_context}}>{{svg-icon name='down_arrow'}}</span>
      <span class="sortable-item__arrow-up"  {{action 'moveItem' index -1 target=sortable_context}}>{{svg-icon name='up_arrow'}}</span>
    {{/unless}}
    <span class="sortable-item__text">{{item.text}}</span>
  </div>
{{/sortable-list}}
