<table border="0" align="center">
  <tr>
    <th>
      {{input type="text" value=source.description class="text"}}
    </th>

    {{#each column in source.columns}}
      <th>
        {{input type="text" value=column class="text"}}
      </th>
    {{/each}}
  </tr>

  {{#each row in source.rows}}
  <tr>
    <td>
      {{input type="text" value=row.name class="text"}}
    </td>
    {{#each cell in row.columns}}
      <td>
        {{input type="checkbox" checked=cell.choice class="is_correct"}}
      </td>
    {{/each}}
  </tr>
  {{/each}}
</table>


<button {{action 'delete_row'}}>Delete last row</button>
<button {{action 'add_row'}}>Add new row</button>
<button {{action 'delete_column'}}>Delete last column</button>
<button {{action 'add_column'}}>Add new column</button>
<br>
<br>
{{input type="checkbox" name="Multiple" checked=source.options.is_checkbox}}
<span title="Make a poll" class="edit-tooltip">Multiple choices are possible</span>

{{input type="checkbox" name="Random rows" checked=source.options.is_randomize_rows}}
<span title="Make a poll" class="edit-tooltip">Shiffle rows</span>

{{input type="checkbox" name="Random columns" checked=source.options.is_randomize_columns}}
<span title="Make a poll" class="edit-tooltip">Shuffle columns</span>
