<div class="edit-title">Quiz options</div>
<div class="options">
    <label class="option">
    {{input
        type="checkbox"
        name="is_multiple_choice"
        checked=source.is_multiple_choice}}
    Checkboxes
    </label>
    <label class="option">
    {{input
        type="checkbox"
        name="is_always_correct"
        checked=source.is_always_correct}}
    Any answer is correct
    </label>
    <label class="option">
    {{input
        type="checkbox"
        name="preserve_order"
        checked=source.preserve_order}}
    Preserve order
    </label>
    <label class="option option_right">Sample Size {{input type="number" name="sample_size" value=source.sample_size}}</label>
</div>
<div class="edit-title">Mark correct answer/answers</div>
<div class="edit-text">
    <div class="choice-options">
        {{#with picker_view as picker_view}}
      {{#each option in source.options}}
      <div class="choice-option" draggable="true">
          <span class="drag-area"></span>
          {{input type="checkbox" checked=option.is_correct class="is_correct"}}
          {{input type="text" value=option.text class="text"}}
        <span class="remove" {{action "removeOption" option}}></span>
      </div>
      {{/each}}
      {{/with}}
     </div>
    <div class="add-option" {{action "addOption"}}></div>
</div>



