<div class="edit-title">See <a href="/lesson/9171">Documentation: Multiple Choice</a> for docs and examples.</div>
<div class="edit-title">Add options. Mark correct ones.</div>
<div class="edit-text">
  <div class="choice-options">
    {{#with picker_view as picker_view}}
      {{#each option in source.options}}
        <div class="choice-option">
          <span class="drag-area" draggable="true"></span>
          {{input type="checkbox" checked=option.is_correct class="is_correct"}}
          {{input type="text" value=option.text class="text"}}
          <span class="remove" {{action "removeOption" option}}></span>
        </div>
      {{/each}}
    {{/with}}
  </div>
  <div class="add-option" {{action "addOption"}}></div>
</div>
<div class="options">
  <label class="option">
    {{input
        type="checkbox"
        name="is_multiple_choice"
        checked=source.is_multiple_choice}}
    <span title="Enable multiple choice. If unchecked: one choice only." class="edit-tooltip">Checkboxes</span>
  </label>
  <label class="option">
    {{input
        type="checkbox"
        name="is_always_correct"
        checked=source.is_always_correct}}
    <span title="Make a poll" class="edit-tooltip">Any response is correct</span>
  </label>
  <label class="option">
    {{input
        type="checkbox"
        name="preserve_order"
        checked=source.preserve_order}}
    <span title="Preserve options order as above" class="edit-tooltip">Do not randomize order</span>
  </label>
  <label class="option option_right">
    <span title="Number of options which will be shown to user. Should not be less than number of available options above." class="edit-tooltip">Sample size</span>
    {{input type="number" name="sample_size" value=source.sample_size}}
  </label>
</div>
